@using System.Collections.Specialized
@using MicroCms.Search
@model IEnumerable<CmsTitle>

@{
    ViewBag.Title = "Index";
}


@section Sidebar
{
    @Html.RenderCms(Cms.GetArea().Documents.Find(Cms.GetArea().Search.SearchDocuments(CmsDocumentField.Tag, "TableOfContents").First().Id))
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using(Html.BeginForm("Index", "Docs", FormMethod.Get))
    {
        @Html.TextBox("q")
        <input type="submit" value="Search"/>
    }
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>

    @foreach (var title in Model)
    {
        <tr>
            <th>@title.Title</th>
            <th>@Html.ActionLink("View", "Item", new { id = title.Id }) | @Html.ActionLink("Delete", "Delete", new { id = title.Id })</th>
        </tr>
    }
</table>