@using MicroCms
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        @Html.RenderItem(new ContentItem(new ContentPart(ContentTypes.Html, "<h2>HTML</h2><br/><p>This is a paragraph</p>")))
    </div>
    <div class="col-md-4">
        @Html.RenderItem(new ContentItem(new ContentPart(ContentTypes.Text, "This is &some text")))
    </div>
    <div class="col-md-4">
        @Html.RenderContent(MarkdownRenderer.ContentType, "#THIS IS BIG MARKDOWN\r\nAnd this is not")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.RenderContent(ContentTypes.SourceCode + "/csharp", "public class This : IsCSharp { public string Name { get; set; } }")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.RenderContent(ContentTypes.SourceCode + "/xml", "<xml name=\"XML\">This is XML</xml>")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.RenderContent(ContentTypes.SourceCode + "/html", "<html><head></head><body id=\"3\" class=\"my-body\">This is HTML</body></html>")
    </div>
</div>
<div class="row">
    <div class="col-md-12">        
    </div>
</div>
